$border-color: #f5f5f5;
$box-shadow-color: #000;
$btn-bg-color: #fefefe;
$btn-font-color: #fff;
$container-bg-color: #f5f5f5;
$container-border-color: #f0b487;
$header-color: #f5f5f5;
$html-bg-color: #1e90ff;
$main-header-color: #f5f5f5;
$o-gradient-1: #00008b;
$o-gradient-2: #fff;
$radial-gradient-1: rgba(0, 0, 0, .9);
$radial-gradient-2: rgba(0, 0, 0, .8);
$x-btn-hover-bg: #8b0000;
$x-gradient-1: #f00;
$x-gradient-2: #000;
$y-btn-hover-bg: #00008b;
$turn-label-txt-color: #fff;

$light-grn: #14bdac;
$blk: #000;
$wht: #fff;
$x-score-txt-color: #8b0000;
$o-score-txt-color: #00f;
