$blk: #000;
$body-bg: #14bdac;
$link-color: #00d1b2;
$o-cont-bg: #14bdac;
$plyr-qty-choice-bg: #14bdac;
$plyr-symbol-choice-bg: #14bdac;
$purpl: #800080;
$tile-bg: #87ceeb;
$wht: #fff;
$x-cont-bg: #14bdac;
