body {
  background: #14BDAC;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;

  .btn {
    left: 50%;
    margin-left: -50px;
    position: absolute;
    top: 685px;
    width: 100px;

    &:hover {
      animation-duration: 300ms;
      animation-fill-mode: both;
      animation-name: raiseBtn;
      animation-timing-function: ease-out;
    }
  }
}

// Style the scoreboard.
.scoreboard {
  display: flex;
  flex-flow: nowrap row;
  height: 100px;
  left: 50%;
  margin-left: -125px;
  position: absolute;
  top: 80px;
  width: 250px;

  .x-container {

    background: white;
    border-radius: 10px;
    width: 50%;

    & span {
      font-size: 2.2em;
    }

    & .label {
      font-size: 3em;
      position: relative;
      top: 15px;
    }

    & .score {
      font-size: 2.8em;
      position: relative;
      top: 15px;
    }

    & hr {
      border-bottom: 5px double red;
      border-top: 5px double red;
    }
  }

  .o-container {
    background: black;
    border-radius: 10px;
    border: green;
    width: 50%;
  }
}

.game-board {
  background: #87ceeb * .52;
  padding: 5% 0;
  position: relative;
  left: 50%;
  margin-left: -17%;
  top: 130px;
  width: 34%;

  .tile {
    background: #87ceeb;
    margin-bottom: 4px;
    margin-right: 2px;

    &:hover {
      box-shadow: 1px 2px 15px 2px #000;
      height: 99px;
      transition: background 650ms ease-in, box-shadow 200ms,
      height 200ms ease-out width 200ms ease-out;
      width: 101px;
    }

  }
}

.fade-out-tile {
  opacity: .7;
  transition: opacity 400ms ease-out;
}

// Styles for selecting one player or two player game.
.one-player-or-two {
  background: #14BDAC;
  color: white;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999999;

  .span-container {
    border-radius: 10px;
    box-shadow: 0 4px 20px 4px #000;
    margin: 20% auto;
    padding: 5% 0;
    width: 30%;

    button {
      color: white;
      margin-top: 5%;
    }

    & h3 {
      margin-top: -4%;
    }

  }
}

.span-container {
  font-size: 2.2rem;

  button {

    &:hover {
      animation-duration: 300ms;
      animation-fill-mode: both;
      animation-name: raiseBtn;
      animation-timing-function: ease-in-out;
    }
  }
}

.choose-symbol {
  background: #14BDAC;
  color: white;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 500;

  .span-container {
    border-radius: 10px;
    box-shadow: 0 4px 20px 4px #000;
    margin: 20% auto;
    padding: 5% 0;
    width: 30%;

    button {
      margin-top: 5%;
    }

    h3 {
      margin-top: -4%;
    }

  }
}


.hide-overlay {
  animation-duration: 600ms;
  animation-fill-mode: both;
  animation-name: hideOverlay;
  animation-timing-function: ease-out;
}

.remove-overlay {
  display: none;
}


@keyframes raiseBtn {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-5px);
  }
}

@keyframes hideOverlay {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
