@import 'variables';

body {
  background: $body-bg;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;

  .btn {
    font-family: 'VT323', monospace;
    font-size: 2em;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    top: 900px;
    width: 100px;

    &:hover {
      animation-duration: 300ms;
      animation-fill-mode: both;
      animation-name: raiseBtn;
      animation-timing-function: ease-out;
    }
  }

  & > h3 {
    color: $wht;
    font-family: 'Sansita', sans-serif;
    font-size: 3em;
    margin-top: -1%;
    position: relative;
    text-shadow: 2px 2px 10px $blk;
    top: 30px;
  }

  .x-turn,
  .o-turn {
    font-family: 'VT323', monospace;
    font-size: 1.4em;
    left: 0;
    padding: .5% 1%;
    position: relative;
    top: 332px;
  }

  .x-turn {
    margin-right: 2.5%;
  }

  .o-turn {
    margin-left: 2.5%;
  }

  footer {
    align-items: center;
    background: $wht * .99;
    border: 1px solid $blk;
    color: $wht;
    display: flex;
    flex-flow: nowrap row;
    font-family: 'Sansita', sans-serif;
    font-size: 2.2em;
    height: 15vh;
    justify-content: space-between;;
    position: absolute;
    top: 120vh;
    width: 100%;

    a {
      &:link {
        color: $link-color;
      }

      &:visited {
        color: #800080;
      }
    }

    .footer-child {
      color: $blk;
      width: 30%;

      & .author-link {
        margin-left: 2%;
      }

      & .link {
        margin-right: 2%;
      }
    }
  }

}

// Style the scoreboard.
.scoreboard {
  box-shadow: 0 4px 10px 2px $blk;
  display: flex;
  flex-flow: nowrap row;
  height: 100px;
  left: 50%;
  margin-left: -125px;
  position: absolute;
  top: 160px;
  width: 250px;

  .x-container {
    background: $x-cont-bg;
    border-right: 1px solid $blk;
    width: 50%;

    & span {
      font-size: 2.2em;
    }

    & .label {
      font-size: 3em;
      position: relative;
      text-shadow: 1px 1px 5px $wht;
      top: 15px;
    }

    & .score {
      color: $wht;
      font-family: 'Sansita', sans-serif;
      font-size: 2.8em;
      position: relative;
      text-shadow: 1px 1px 5px $blk;
      top: 0;
    }

    & hr {
      border-top: 2px solid $blk;
    }
  }

  .o-container {
    background: $o-cont-bg;
    border-left: 1px solid $blk;
    width: 50%;

    & span {
      font-size: 2.2em;
    }

    & .label {
      font-size: 3em;
      position: relative;
      text-shadow: 1px 1px 5px $wht;
      top: 15px;
    }

    & .score {
      color: $wht;
      font-family: 'Sansita', sans-serif;
      font-size: 2.8em;
      position: relative;
      text-shadow: 1px 1px 5px $blk;
      top: 0;
    }

    & hr {
      border-top: 2px solid $blk;
    }
  }
}

.game-board {
  background: $tile-bg * .52;
  left: 50%;
  margin-left: -17%;
  padding: 5% 0;
  position: relative;
  top: 275px;
  width: 34%;

  .tile {
    background: $tile-bg;
    margin-bottom: 4px;
    margin-right: 2px;

    &:hover {
      box-shadow: 1px 2px 15px 2pd $blk;
      height: 99px;
      transition: background 650ms ease-in, box-shadow 200ms,
      height 200ms ease-out width 200ms ease-out;
      width: 101px;
    }

  }
}

.fade-out-tile {
  opacity: .7;
  transition: opacity 400ms ease-out;
}

// Styles for selecting one player or two player game.
.one-player-or-two {
  background: $plyr-qty-choice-bg;
  color: $wht;
  height: 120vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999999;

  .span-container {
    border-radius: 10px;
    box-shadow: 0 4px 20px 4pd $blk;
    margin: 20% auto;
    padding: 5% 0;
    width: 30%;

    button {
      color: $wht;
      margin-top: 5%;
    }

    & h3 {
      font-family: 'Sansita', sans-serif;
      margin-top: -4%;
    }

  }
}

.span-container {
  font-size: 2.2rem;

  button {

    &:hover {
      animation-duration: 300ms;
      animation-fill-mode: both;
      animation-name: raiseBtn;
      animation-timing-function: ease-in-out;
    }
  }
}

.choose-symbol {
  background: $plyr-symbol-choice-bg;
  color: $wht;
  height: 120vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 500;

  .span-container {
    border-radius: 10px;
    box-shadow: 0 4px 20px 4pd $blk;
    margin: 20% auto;
    padding: 5% 0;
    width: 30%;

    button {
      margin-top: 5%;
    }

    h3 {
      font-family: 'Sansita', sans-serif;
      margin-top: -4%;
    }

  }
}


.hide-overlay {
  animation-duration: 600ms;
  animation-fill-mode: both;
  animation-name: hideOverlay;
  animation-timing-function: ease-out;
}

.remove-overlay {
  display: none;
}

@keyframes raiseBtn {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-5px);
  }
}

@keyframes hideOverlay {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.game-over-msg {
  color: $wht;
  font-family: 'Amatic SC', cursive;
  font-size: 2.2em;
  left: 50%;
  margin-left: -5%;
  opacity: 0;
  padding: .5% 0;
  position: absolute;
  text-shadow: 1px 2px 5px $blk;
  top: 390px;
  width: 10%;
}
