body {
  background: #14BDAC;
  text-align: center;

  .btn {
    margin: 4% 0 0;

    &:hover {
      animation-duration: 300ms;
      animation-fill-mode: both;
      animation-name: raiseBtn;
      animation-timing-function: ease-out;
    }
  }
}

.game-board {
  background: #87ceeb * .52;
  margin: 5% auto 0;
  padding: 3% 0;
  width: 32%;

  .tile {
    background: #87ceeb;
    margin-bottom: 2px;

    &:hover {
      box-shadow: 1px 2px 15px 2px #000;
      height: 99px;
      transition: background 650ms ease-in, box-shadow 200ms,
      height 200ms ease-out width 200ms ease-out;
      width: 101px;
    }

  }
}

.fade-out-tile {
  opacity: .7;
  transition: opacity 400ms ease-out;
}

// Styles for selecting one player or two player game.
.one-player-or-two {
  background: #14BDAC;
  color: white;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999999;

  .span-container {
    border-radius: 10px;
    box-shadow: 0 4px 20px 4px #000;
    margin: 20% auto;
    padding: 5% 0;
    width: 30%;

    button {
      color: white;
      margin-top: 10%;
    }

  }
}

.span-container {
  font-size: 2.2rem;

  button {

    &:hover {
      animation-duration: 300ms;
      animation-fill-mode: both;
      animation-name: raiseBtn;
      animation-timing-function: ease-in-out;
    }
  }
}

.choose-symbol {
  background: #14BDAC;
  color: white;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 500;

  .span-container {
    border-radius: 10px;
    box-shadow: 0 4px 20px 4px #000;
    margin: 20% auto;
    padding: 5% 0;
    width: 30%;

    button {
      margin-top: 5%;
    }

    h3 {
      margin-top: -4%;
    }

  }
}


.hide-overlay {
  animation-duration: 600ms;
  animation-fill-mode: both;
  animation-name: hideOverlay;
  animation-timing-function: ease-out;
}

.remove-overlay {
  display: none;
}


@keyframes raiseBtn {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-5px);
  }
}

@keyframes hideOverlay {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
