body {
  background: #14BDAC;
  text-align: center;

  .btn {
    margin: 4% 0 0;

    &:hover {
      animation-duration: 300ms;
      animation-fill-mode: both;
      animation-name: raiseBtn;
      animation-timing-function: ease-out;
    }
  }
}

.game-board {
  background: #00008b;
  margin: 5% auto 0;
  padding: 3% 0;
  width: 32%;

  .tile {
    background: #87ceeb;
    margin-bottom: 2px;

    &:hover {
      box-shadow: 1px 2px 15px 2px #000;
      height: 99px;
      transition: background 650ms ease-in, box-shadow 200ms,
      height 200ms ease-out width 200ms ease-out;
      width: 101px;
    }

  }
}

.fade-out-tile {
  opacity: .7;
  transition: opacity 400ms ease-out;
}

@keyframes raiseBtn {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-5px);
  }
}
