body {
  background: #1e90ff;
  text-align: center; }
  body .btn {
    margin: 4% 0 0; }
    body .btn:hover {
      -webkit-animation-duration: 300ms;
      -moz-animation-duration: 300ms;
      -o-animation-duration: 300ms;
      animation-duration: 300ms;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      -o-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: raiseBtn;
      -moz-animation-name: raiseBtn;
      -o-animation-name: raiseBtn;
      animation-name: raiseBtn;
      -webkit-animation-timing-function: ease-out;
      -moz-animation-timing-function: ease-out;
      -o-animation-timing-function: ease-out;
      animation-timing-function: ease-out; }

.game-board {
  background: #00008b;
  margin: 5% auto 0;
  max-width: 40%;
  min-width: 35%;
  padding: 4% 1%; }
  .game-board .tile {
    background: #87ceeb;
    margin-bottom: 2px; }
    .game-board .tile:hover {
      -webkit-box-shadow: 1px 2px 15px 2px #000;
      -moz-box-shadow: 1px 2px 15px 2px #000;
      box-shadow: 1px 2px 15px 2px #000;
      height: 99px;
      -webkit-transition: background 650ms ease-in, height 200ms ease-out width 200ms ease-out, -webkit-box-shadow 200ms;
      transition: background 650ms ease-in, height 200ms ease-out width 200ms ease-out, -webkit-box-shadow 200ms;
      -o-transition: background 650ms ease-in, box-shadow 200ms, height 200ms ease-out width 200ms ease-out;
      -moz-transition: background 650ms ease-in, box-shadow 200ms, height 200ms ease-out width 200ms ease-out, -moz-box-shadow 200ms;
      transition: background 650ms ease-in, box-shadow 200ms, height 200ms ease-out width 200ms ease-out;
      transition: background 650ms ease-in, box-shadow 200ms, height 200ms ease-out width 200ms ease-out, -webkit-box-shadow 200ms, -moz-box-shadow 200ms;
      width: 101px; }

.fade-out-tile {
  opacity: .7;
  -webkit-transition: opacity 400ms ease-out;
  -o-transition: opacity 400ms ease-out;
  -moz-transition: opacity 400ms ease-out;
  transition: opacity 400ms ease-out; }

@-webkit-keyframes raiseBtn {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); } }

@-moz-keyframes raiseBtn {
  from {
    -moz-transform: translateY(0);
    transform: translateY(0); }
  to {
    -moz-transform: translateY(-5px);
    transform: translateY(-5px); } }

@-o-keyframes raiseBtn {
  from {
    -o-transform: translateY(0);
    transform: translateY(0); }
  to {
    -o-transform: translateY(-5px);
    transform: translateY(-5px); } }

@keyframes raiseBtn {
  from {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px); } }
