body {
  background: #14BDAC;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center; }
  body .btn {
    left: 50%;
    margin-left: -50px;
    position: absolute;
    top: 685px;
    width: 100px; }
    body .btn:hover {
      -webkit-animation-duration: 300ms;
      -moz-animation-duration: 300ms;
      -o-animation-duration: 300ms;
      animation-duration: 300ms;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      -o-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: raiseBtn;
      -moz-animation-name: raiseBtn;
      -o-animation-name: raiseBtn;
      animation-name: raiseBtn;
      -webkit-animation-timing-function: ease-out;
      -moz-animation-timing-function: ease-out;
      -o-animation-timing-function: ease-out;
      animation-timing-function: ease-out; }

.scoreboard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: nowrap row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-flow: nowrap row;
  flex-flow: nowrap row;
  height: 100px;
  left: 50%;
  margin-left: -125px;
  position: absolute;
  top: 80px;
  width: 250px; }
  .scoreboard .x-container {
    background: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 50%; }
    .scoreboard .x-container span {
      font-size: 2.2em; }
    .scoreboard .x-container .label {
      font-size: 3em;
      position: relative;
      top: 15px; }
    .scoreboard .x-container .score {
      font-size: 2.8em;
      position: relative;
      top: 15px; }
    .scoreboard .x-container hr {
      border-bottom: 5px double red;
      border-top: 5px double red; }
  .scoreboard .o-container {
    background: black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: green;
    width: 50%; }

.game-board {
  background: #466b7a;
  padding: 5% 0;
  position: relative;
  left: 50%;
  margin-left: -17%;
  top: 130px;
  width: 34%; }
  .game-board .tile {
    background: #87ceeb;
    margin-bottom: 4px;
    margin-right: 2px; }
    .game-board .tile:hover {
      -webkit-box-shadow: 1px 2px 15px 2px #000;
      -moz-box-shadow: 1px 2px 15px 2px #000;
      box-shadow: 1px 2px 15px 2px #000;
      height: 99px;
      -webkit-transition: background 650ms ease-in, height 200ms ease-out width 200ms ease-out, -webkit-box-shadow 200ms;
      transition: background 650ms ease-in, height 200ms ease-out width 200ms ease-out, -webkit-box-shadow 200ms;
      -o-transition: background 650ms ease-in, box-shadow 200ms, height 200ms ease-out width 200ms ease-out;
      -moz-transition: background 650ms ease-in, box-shadow 200ms, height 200ms ease-out width 200ms ease-out, -moz-box-shadow 200ms;
      transition: background 650ms ease-in, box-shadow 200ms, height 200ms ease-out width 200ms ease-out;
      transition: background 650ms ease-in, box-shadow 200ms, height 200ms ease-out width 200ms ease-out, -webkit-box-shadow 200ms, -moz-box-shadow 200ms;
      width: 101px; }

.fade-out-tile {
  opacity: .7;
  -webkit-transition: opacity 400ms ease-out;
  -o-transition: opacity 400ms ease-out;
  -moz-transition: opacity 400ms ease-out;
  transition: opacity 400ms ease-out; }

.one-player-or-two {
  background: #14BDAC;
  color: white;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999999; }
  .one-player-or-two .span-container {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 4px 20px 4px #000;
    -moz-box-shadow: 0 4px 20px 4px #000;
    box-shadow: 0 4px 20px 4px #000;
    margin: 20% auto;
    padding: 5% 0;
    width: 30%; }
    .one-player-or-two .span-container button {
      color: white;
      margin-top: 10%; }

.span-container {
  font-size: 2.2rem; }
  .span-container button:hover {
    -webkit-animation-duration: 300ms;
    -moz-animation-duration: 300ms;
    -o-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: raiseBtn;
    -moz-animation-name: raiseBtn;
    -o-animation-name: raiseBtn;
    animation-name: raiseBtn;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }

.choose-symbol {
  background: #14BDAC;
  color: white;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 500; }
  .choose-symbol .span-container {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 4px 20px 4px #000;
    -moz-box-shadow: 0 4px 20px 4px #000;
    box-shadow: 0 4px 20px 4px #000;
    margin: 20% auto;
    padding: 5% 0;
    width: 30%; }
    .choose-symbol .span-container button {
      margin-top: 5%; }
    .choose-symbol .span-container h3 {
      margin-top: -4%; }

.hide-overlay {
  -webkit-animation-duration: 600ms;
  -moz-animation-duration: 600ms;
  -o-animation-duration: 600ms;
  animation-duration: 600ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: hideOverlay;
  -moz-animation-name: hideOverlay;
  -o-animation-name: hideOverlay;
  animation-name: hideOverlay;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out; }

.remove-overlay {
  display: none; }

@-webkit-keyframes raiseBtn {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); } }

@-moz-keyframes raiseBtn {
  from {
    -moz-transform: translateY(0);
    transform: translateY(0); }
  to {
    -moz-transform: translateY(-5px);
    transform: translateY(-5px); } }

@-o-keyframes raiseBtn {
  from {
    -o-transform: translateY(0);
    transform: translateY(0); }
  to {
    -o-transform: translateY(-5px);
    transform: translateY(-5px); } }

@keyframes raiseBtn {
  from {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px); } }

@-webkit-keyframes hideOverlay {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-moz-keyframes hideOverlay {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-o-keyframes hideOverlay {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes hideOverlay {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
