body {
  background: #14BDAC;
  text-align: center; }
  body .btn {
    margin: 4% 0 0; }
    body .btn:hover {
      -webkit-animation-duration: 300ms;
      -moz-animation-duration: 300ms;
      -o-animation-duration: 300ms;
      animation-duration: 300ms;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      -o-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: raiseBtn;
      -moz-animation-name: raiseBtn;
      -o-animation-name: raiseBtn;
      animation-name: raiseBtn;
      -webkit-animation-timing-function: ease-out;
      -moz-animation-timing-function: ease-out;
      -o-animation-timing-function: ease-out;
      animation-timing-function: ease-out; }

.game-board {
  background: #466b7a;
  margin: 5% auto 0;
  padding: 3% 0;
  width: 32%; }
  .game-board .tile {
    background: #87ceeb;
    margin-bottom: 2px; }
    .game-board .tile:hover {
      -webkit-box-shadow: 1px 2px 15px 2px #000;
      -moz-box-shadow: 1px 2px 15px 2px #000;
      box-shadow: 1px 2px 15px 2px #000;
      height: 99px;
      -webkit-transition: background 650ms ease-in, height 200ms ease-out width 200ms ease-out, -webkit-box-shadow 200ms;
      transition: background 650ms ease-in, height 200ms ease-out width 200ms ease-out, -webkit-box-shadow 200ms;
      -o-transition: background 650ms ease-in, box-shadow 200ms, height 200ms ease-out width 200ms ease-out;
      -moz-transition: background 650ms ease-in, box-shadow 200ms, height 200ms ease-out width 200ms ease-out, -moz-box-shadow 200ms;
      transition: background 650ms ease-in, box-shadow 200ms, height 200ms ease-out width 200ms ease-out;
      transition: background 650ms ease-in, box-shadow 200ms, height 200ms ease-out width 200ms ease-out, -webkit-box-shadow 200ms, -moz-box-shadow 200ms;
      width: 101px; }

.fade-out-tile {
  opacity: .7;
  -webkit-transition: opacity 400ms ease-out;
  -o-transition: opacity 400ms ease-out;
  -moz-transition: opacity 400ms ease-out;
  transition: opacity 400ms ease-out; }

.one-player-or-two {
  background: #14BDAC;
  color: white;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999999; }
  .one-player-or-two .span-container {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 4px 20px 4px #000;
    -moz-box-shadow: 0 4px 20px 4px #000;
    box-shadow: 0 4px 20px 4px #000;
    margin: 20% auto;
    padding: 5% 0;
    width: 30%; }
    .one-player-or-two .span-container button {
      color: white;
      margin-top: 10%; }

.span-container {
  font-size: 2.2rem; }
  .span-container button:hover {
    -webkit-animation-duration: 300ms;
    -moz-animation-duration: 300ms;
    -o-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: raiseBtn;
    -moz-animation-name: raiseBtn;
    -o-animation-name: raiseBtn;
    animation-name: raiseBtn;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }

.choose-symbol {
  background: #14BDAC;
  color: white;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 500; }
  .choose-symbol .span-container {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 4px 20px 4px #000;
    -moz-box-shadow: 0 4px 20px 4px #000;
    box-shadow: 0 4px 20px 4px #000;
    margin: 20% auto;
    padding: 5% 0;
    width: 30%; }
    .choose-symbol .span-container button {
      margin-top: 5%; }
    .choose-symbol .span-container h3 {
      margin-top: -4%; }

.hide-overlay {
  -webkit-animation-duration: 600ms;
  -moz-animation-duration: 600ms;
  -o-animation-duration: 600ms;
  animation-duration: 600ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: hideOverlay;
  -moz-animation-name: hideOverlay;
  -o-animation-name: hideOverlay;
  animation-name: hideOverlay;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out; }

.remove-overlay {
  display: none; }

@-webkit-keyframes raiseBtn {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); } }

@-moz-keyframes raiseBtn {
  from {
    -moz-transform: translateY(0);
    transform: translateY(0); }
  to {
    -moz-transform: translateY(-5px);
    transform: translateY(-5px); } }

@-o-keyframes raiseBtn {
  from {
    -o-transform: translateY(0);
    transform: translateY(0); }
  to {
    -o-transform: translateY(-5px);
    transform: translateY(-5px); } }

@keyframes raiseBtn {
  from {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  to {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px); } }

@-webkit-keyframes hideOverlay {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-moz-keyframes hideOverlay {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-o-keyframes hideOverlay {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes hideOverlay {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
